---
layout: default
---

<article class="entry">
    <header>
        <h2 class="entry-title">
            {{ page.title }}
        </h2>
        <span class="entry-date">Posted on {{ page.date | date: '%B %d, %Y' }}</span>
    </header>
    <section class="entry-content">
        {{ content }}
    </section>
    <section class="related-entries">
        <ul class="posts">
        {% for post in site.related_posts limit:3 %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </section>
</article>

{% unless page.comments == false %}
    {% include comments.html %}
{% endunless %}
